js/portfolio/web_apps/hr_fileupload/in_browser/tests/deneme.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_BN_Y0814_01_H13_ODEV-binding">
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
</wsp:Policy>
<wsp:Policy wsu:Id="BN_BN_Y0814_01_H13_ODEV-binding_SOAP12">
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_IF_Y0814_01_H13_ODEV">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>00215E562C4A1EE3A4EBA8A69F4534C1</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_IF_OP_Y0814_01_H13_ODEV">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char50">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Y0814_01_H13_STR">
<xsd:sequence>
<xsd:element name="GV_KELIME" type="tns:char50"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Y0814_01_H13_TT">
<xsd:sequence>
<xsd:element name="item" type="tns:Y0814_01_H13_STR" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Y0814_01_H13_ODEV">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GV_KELIME" type="tns:char50"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Y0814_01_H13_ODEVResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GV_TABLE" type="tns:Y0814_01_H13_TT"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="Y0814_01_H13_ODEV">
<wsdl:part name="parameters" element="tns:Y0814_01_H13_ODEV"/>
</wsdl:message>
<wsdl:message name="Y0814_01_H13_ODEVResponse">
<wsdl:part name="parameter" element="tns:Y0814_01_H13_ODEVResponse"/>
</wsdl:message>
<wsdl:portType name="Y0814_01_H13_ODEV">
<wsdl:documentation>
<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
<sapdoc:docitem docURL="http://arete20.arete.com:8002/sap/bc/esdt/docu/sd_text?sap-client=001&sd_name=Y0814_01_H13_ODEV"/>
</sapdoc:sapdoc>
</wsdl:documentation>
<wsp:Policy>
<wsp:PolicyReference URI="#IF_IF_Y0814_01_H13_ODEV"/>
</wsp:Policy>
<wsdl:operation name="Y0814_01_H13_ODEV">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_IF_OP_Y0814_01_H13_ODEV"/>
</wsp:Policy>
<wsdl:input message="tns:Y0814_01_H13_ODEV"/>
<wsdl:output message="tns:Y0814_01_H13_ODEVResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Y0814_01_H13_ODEV-binding" type="tns:Y0814_01_H13_ODEV">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_BN_Y0814_01_H13_ODEV-binding"/>
</wsp:Policy>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="Y0814_01_H13_ODEV">
<soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:Y0814_01_H13_ODEV:Y0814_01_H13_ODEVRequest" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="Y0814_01_H13_ODEV-binding_SOAP12" type="tns:Y0814_01_H13_ODEV">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_BN_Y0814_01_H13_ODEV-binding_SOAP12"/>
</wsp:Policy>
<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="Y0814_01_H13_ODEV">
<wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:Y0814_01_H13_ODEV:Y0814_01_H13_ODEVRequest" style="document"/>
<wsdl:input>
<wsoap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsoap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Y0814_01_H13_ODEV">
<wsdl:port name="Y0814_01_H13_ODEV-binding" binding="tns:Y0814_01_H13_ODEV-binding">
<soap:address location="http://arete20.arete.com:8002/sap/bc/srt/rfc/sap/y0814_01_h13_odev/001/y0814_01_h13_odev/y0814_01_h13_odev-binding"/>
</wsdl:port>
<wsdl:port name="Y0814_01_H13_ODEV-binding_SOAP12" binding="tns:Y0814_01_H13_ODEV-binding_SOAP12">
<wsoap12:address location="http://arete20.arete.com:8002/sap/bc/srt/rfc/sap/y0814_01_h13_odev/001/y0814_01_h13_odev/y0814_01_h13_odev-binding"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>